<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-zinc-900">

    <!-- VERY IMP Note that anchor is not moving down even after mt-28 because of margin clash with h1 tag -->


          <h1 class="text-slate-100 mx-20 mt-10 "><%= topic%></h1>
          <div class="text-slate-100 mx-20 mt-10 ">
                 <%=data%>
          </div>
          <a href="/" class="text-blue-200 mx-20 relative top-12">Back to home</a>
 
</body>
</html>